In [15]:
import pandas as pd
import itertools

def generate_mkn_table(hidden_sizes, seq_lens, batch_sizes):
    all_rows = []
    model_groups = [
        ('7B Model', 4096),
        ('70B Model', 28672),
        ('175B Model', 49152)
    ]
    
    for group_name, h in model_groups:
        rows = []
        for s, b in itertools.product(seq_lens, batch_sizes):
            m = b * s
            k = h
            n = h * 8
            
            rows.append({
                'Model': group_name,
                'Batch Size': b,
                'Sequence Length': s,
                'Hidden Size': h,
                'M': m,
                'K': k,
                'N': n
            })
        
        all_rows.extend(rows)
    
    df = pd.DataFrame(all_rows)
    
    # Style the dataframe
    def highlight_groups(s):
        return ['background-color: #f0f0f0' if s.name % len(seq_lens) * len(batch_sizes) == 0 
                else '' for _ in s]
    
    styled_df = df.style.apply(highlight_groups, axis=1)\
                       .format({
                           'M': '{:,.0f}',
                           'K': '{:,.0f}',
                           'N': '{:,.0f}',
                           'Hidden Size': '{:,.0f}'
                       })\
                       .set_properties(**{
                           'text-align': 'center',
                           'padding': '8px'
                       })\
                       .set_table_styles([
                           {'selector': 'th',
                            'props': [('background-color', '#2c3e50'),
                                    ('color', 'white'),
                                    ('font-weight', 'bold'),
                                    ('text-align', 'center'),
                                    ('padding', '8px')]},
                           {'selector': 'td',
                            'props': [('border', '1px solid #ddd')]},
                           {'selector': 'tr:hover',
                            'props': [('background-color', '#e6f3ff')]}
                       ])
    
    return styled_df

hidden_sizes = [4096, 28672, 49152]
seq_lens = [1024, 2048, 8192] 
batch_sizes = [1, 2, 8, 16, 32]

styled_df = generate_mkn_table(hidden_sizes, seq_lens, batch_sizes)
styled_df

In [16]:
df

,name,batch_size,seq_len,hidden_size,m,k,n
0,=== 7b ===,NaN,NaN,NaN,NaN,NaN,NaN
1,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,1024.00,4096.00,1024.00,4096.00,32768.00
2,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,1024.00,4096.00,2048.00,4096.00,32768.00
3,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,1024.00,4096.00,8192.00,4096.00,32768.00
4,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,1024.00,4096.00,16384.00,4096.00,32768.00
5,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,1024.00,4096.00,32768.00,4096.00,32768.00
6,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,2048.00,4096.00,2048.00,4096.00,32768.00
7,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,2048.00,4096.00,4096.00,4096.00,32768.00
8,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,2048.00,4096.00,16384.00,4096.00,32768.00
9,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,2048.00,4096.00,32768.00,4096.00,32768.00
10,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,2048.00,4096.00,65536.00,4096.00,32768.00
11,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,8192.00,4096.00,8192.00,4096.00,32768.00
12,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,8192.00,4096.00,16384.00,4096.00,32768.00
13,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,8192.00,4096.00,65536.00,4096.00,32768.00
14,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,8192.00,4096.00,131072.00,4096.00,32768.00
15,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,8192.00,4096.00,262144.00,4096.00,32768.00
16,---,NaN,NaN,NaN,NaN,NaN,NaN
17,=== 70b ===,NaN,NaN,NaN,NaN,NaN,NaN
18,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,1024.00,28672.00,1024.00,28672.00,229376.00
19,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,1024.00,28672.00,2048.00,28672.00,229376.00
20,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,1024.00,28672.00,8192.00,28672.00,229376.00
21,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,1024.00,28672.00,16384.00,28672.00,229376.00
22,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,1024.00,28672.00,32768.00,28672.00,229376.00
23,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,2048.00,28672.00,2048.00,28672.00,229376.00
24,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,2048.00,28672.00,4096.00,28672.00,229376.00
25,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,2048.00,28672.00,16384.00,28672.00,229376.00
26,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,2048.00,28672.00,32768.00,28672.00,229376.00
27,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,2048.00,28672.00,65536.00,28672.00,229376.00
28,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,8192.00,28672.00,8192.00,28672.00,229376.00
29,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,8192.00,28672.00,16384.00,28672.00,229376.00
30,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,8192.00,28672.00,65536.00,28672.00,229376.00
31,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,8192.00,28672.00,131072.00,28672.00,229376.00
32,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,8192.00,28672.00,262144.00,28672.00,229376.00
33,---,NaN,NaN,NaN,NaN,NaN,NaN
34,=== opt_175b ===,NaN,NaN,NaN,NaN,NaN,NaN
35,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,1024.00,49152.00,1024.00,49152.00,393216.00
36,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,1024.00,49152.00,2048.00,49152.00,393216.00
37,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,1024.00,49152.00,8192.00,49152.00,393216.00
38,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,1024.00,49152.00,16384.00,49152.00,393216.00
39,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,1024.00,49152.00,32768.00,49152.00,393216.00
40,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,2048.00,49152.00,2048.00,49152.00,393216.00
41,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,2048.00,49152.00,4096.00,49152.00,393216.00
42,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,2048.00,49152.00,16384.00,49152.00,393216.00
43,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,2048.00,49152.00,32768.00,49152.00,393216.00
44,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,2048.00,49152.00,65536.00,49152.00,393216.00
45,exp900b04e_but_remove_grad_input_compute_if_no...,1.00,8192.00,49152.00,8192.00,49152.00,393216.00
46,exp900b04e_but_remove_grad_input_compute_if_no...,2.00,8192.00,49152.00,16384.00,49152.00,393216.00
47,exp900b04e_but_remove_grad_input_compute_if_no...,8.00,8192.00,49152.00,65536.00,49152.00,393216.00
48,exp900b04e_but_remove_grad_input_compute_if_no...,16.00,8192.00,49152.00,131072.00,49152.00,393216.00
49,exp900b04e_but_remove_grad_input_compute_if_no...,32.00,8192.00,49152.00,262144.00,49152.00,393216.00